* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: url(../images/background-img.png) no-repeat center fixed;
  background-size: cover;
}

body {
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

header, nav {
  width: 100%;
  height: 50px;
}

.header-list {
  list-style: none;
  justify-content: space-between;
  display: flex;
  margin: 10px;
  height: 30px;
}

.view-high-scores {
  font-weight: bold;
  border-radius: 15px;
  width: 150px;
  height: 30px;
}

#timer {
  width: 120px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: white;
  font-weight: bold;
  border-radius: 15px;
  text-align: left;
}

header {
  margin-bottom: 100px;
}

main {
  width: 100%;
  height: 650px;
}

.main-quiz-box {
  margin: auto;
  padding-top: 90px;
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
}

.quiz-title {
  font-size: 40px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.instructions {
  margin: auto;
  width: 550px;
  height: 240px;
  padding-top: 20px;
  line-height: 30px;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  color: rgb(241, 187, 214);
  font-weight: bold;
  background-color: rgb(60, 16, 118);
  border: solid black;
}

div button {
  display: block; 
  margin: auto; 
  width: 400px; 
  font-size: 20px; 
  margin-bottom: 10px
}

input {
  width: 150px;
  height: 25px;
}

form button, .playAgainBtn {
  width: 150px;
  border-radius: 25px;
}

.all-options {
  font-size: 26px;
  line-height: 40px;
}

#warning-text {
  color: red;
  font-weight: bolder;
}

#start-button {
  width: 120px;
  height: 45px;
  margin: auto;
  padding-top: 8px;
  font-size: 20px;
  border-radius: 25px;
  border: 2px solid black;
}

#start-button:hover {
  cursor: pointer;
  color: rgb(241, 187, 214);
  font-weight: bold;
  background-color: rgb(60, 16, 118);
  border: solid black;
}